
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>GUNSOFT LTD.ŞTİ</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Project Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <!-- Google fonts -->
    <!-- css files -->

    <link href="~/Sablonlar/weblogin/css/style.css" rel="stylesheet" />
    <!-- //css files -->


    <link href="~/Sablonlar/weblogin/css/font-awesome.css" rel="stylesheet" />


    <link href="~/Sablonlar/weblogin/css/popup-box.css" rel="stylesheet" />
</head>
<!-- body starts -->
<body>

    <!-- section -->
    <section class="register">
        <div class="header">
            <div class="logo">
                <a href="#">GUNSOFT YAZILIM LTD.ŞTİ GİRİŞ SAYFASI</a>
            </div>

            <div class="clear"></div>
        </div>

        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <p>ARAÇ YIKAMA KAYIT OTOMOSYONU</p>
                    <h1>GUNSOFT Yazılım Kendi geliştirdiği Araç Yıkama Kayıt  Otomosyonuyla Müşterileri Memnun Etmek için Sorunsuz Bir Şekilde Hizmet Etmektedir.</h1>

                    <p>
                        Bu sayfada Admin ve Personel Sayfaları Mevcuttur.
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="#"> Kurumsal Başvuru</a></li>
                            <li><a class="read" href="#"> Bireysel Başvuru</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
         
                <div class="register-in">
                    <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog1">Personel Gİrİşİ »</a>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
        <!-- copyright -->
        <p class="agile-copyright">© 2021 Project. Tüm Hakları Saklıdır | Design by <a href="https://w3layouts.com/" target="_blank">ÖMER GÜNDÜZ</a></p>
        <!-- //copyright -->
    </section>
    <!-- //section -->
    <!-- login form popup-->
   s
    <!-- //login form popup-->
    <!-- subscribe form popup-->
    <div class="pop-up">
        <div id="small-dialog1" class="mfp-hide book-form">

            <div class="login-form login-form-left">
                <div class="agile-row">
                    <h2>Personel Girişi</h2>
                    <span class="fa fa-lock"></span>
                    <div class="clear"></div>
                    <div class="login-agileits-top">
                        
                        @using (Html.BeginForm("AdminGiris","Giris",FormMethod.Post)) {
                            <input type="text" class="name" name="AdminAD" Placeholder="Kullanıcı Adınız" required="" />
                            <input type="password" class="password" name="AdminSİFRE" Placeholder="Şifreniz" required="" />
                            <input type="submit" value="Sisteme Giriş Yap">
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //subscribe form popup-->
    <!-- register form popup-->
    <div class="pop-up">
        <div id="small-dialog2" class="mfp-hide book-form">

        </div>
    </div>
    <!-- //register form popup-->
    <!-- js -->

    <script src="~/Sablonlar/weblogin/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!--popup-js-->

    <script src="~/Sablonlar/weblogin/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!--//popup-js-->

</body>
<!-- //body ends -->
</html>