


<div class="login-form login-form-left">
    <div class="agile-row">
        <h2>Yeni Müşteri Kayıt Formu</h2>
        <span class="fa fa-lock"></span>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="MusteriAD" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="MusteriSOYAD  " Placeholder="Soyadınız" required="" />
                <input type="text" class="name" name="MusteriTELEFON" Placeholder="Telefon Numaranız" required="" />
                <input type="email" class="email" name="MusteriMAİL" Placeholder="Mail Adresiniz" required="" />
                <input type="text" class="name" name="MusteriARACTESLİMTARİHİ" Placeholder="Araç Teslim Tarihi" required="" />
                <input type="password" class="password" name="MusteriSİFRE" Placeholder="Şifreniz" required="" />

                <input type="submit" value="Kayıt Ol">
            </form>
        </div>
    </div>
</div>


